<ng-container *ngIf="data$ | async as data">
  <h1>
    {{ data.estate.city }}, {{ data.estate.street }}
    {{ data.estate.streetnumber }}
  </h1>
  <div class="estate-header">
    <mat-menu #menu>
      <button mat-menu-item (click)="openWorkerDialog()">
        <mat-icon>add</mat-icon>
        {{ "page.estate.add_worker" | translate }}
      </button>
      <button mat-menu-item (click)="updateEstate(data.estate)">
        <mat-icon>construction</mat-icon>
        {{ "page.estate.update" | translate }}
      </button>
      <button mat-menu-item (click)="deleteEstate(data.estate.estateuuid)">
        <mat-icon>delete</mat-icon>
        {{ "page.estate.delete" | translate }}
      </button>
    </mat-menu>
    <div class="actions" *ngIf="isAdmin">
      <button
        mat-raised-button
        color="primary"
        (click)="addTask(data.estate.estateuuid)"
      >
        <mat-icon>add</mat-icon>
        {{ "page.mypages.add_task" | translate }}
      </button>
      <button
        mat-icon-button
        class="setting-icon"
        [matMenuTriggerFor]="menu"
        *ngIf="isAdmin"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <hr />
  </div>
  <div class="tasks">
    <div class="tasks-actions">
      <button
        mat-raised-button
        (click)="prioritySort = true; sort(true)"
        [color]="prioritySort ? 'accent' : ''"
      >
        {{ "page.estate.sort_priority" | translate }}
        <mat-icon matSuffix>{{
          prioritySort ? (reversed ? "expand_more" : "expand_less") : "close"
        }}</mat-icon>
      </button>
      <button
        mat-raised-button
        (click)="prioritySort = false; sort(true)"
        [color]="!prioritySort ? 'accent' : ''"
      >
        {{ "page.estate.sort_deadline" | translate }}
        <mat-icon matSuffix>{{
          !prioritySort ? (reversed ? "expand_more" : "expand_less") : "close"
        }}</mat-icon>
      </button>
      <button mat-icon-button class="refresh-icon" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <h1 *ngIf="data.tasks.length < 1" class="no-task">
      {{ "page.estate.no_task" | translate }}
    </h1>
    <div class="task" *ngFor="let task of data.tasks">
      <h2 class="task-info">{{ task.title }}</h2>
      <div #taskInfoContainer class="task-info-container">
        <div class="task-info description">
          <button
            *ngIf="task.description.length > 85"
            (click)="taskInfoContainer.classList.toggle('long')"
            class="expand-button"
          >
            <mat-icon
              >{{
                taskInfoContainer.classList.contains("long")
                  ? "expand_less"
                  : "expand_more"
              }}
            </mat-icon>
          </button>
          <div
            *ngIf="
              task.description.length > 85 &&
              !taskInfoContainer.classList.contains('long')
            "
            class="gradient"
          ></div>
          <p>{{ task.description }}</p>
        </div>

        <p class="task-info deadline">
          {{ "page.estate.deadline" | translate }}:
          {{ date(task.deadline) | async }}
        </p>
        <div
          class="task-info priority {{
            taskInfoContainer.classList.contains('long') ? 'long' : ''
          }} {{ task.priority == 0 ? 'none' : '' }}"
          style="background-color: {{
            taskInfoContainer.classList.contains('long')
              ? getColor(task.priority)
              : ''
          }};"
        >
          <div
            class="priority-box"
            [ngStyle]="{
              'background-color': task.completed
                ? 'transparent'
                : getColor(task.priority)
            }"
            *ngIf="!taskInfoContainer.classList.contains('long')"
          >
            <mat-icon *ngIf="task.completed" class="priority-done-icon"
              >done</mat-icon
            >
          </div>
          <p class="priority-text">
            {{
              (task.completed ? "page.estate.done" : getPriority(task.priority))
                | translate
            }}
          </p>
        </div>
      </div>
      <button
        mat-icon-button
        class="task-settings"
        *ngIf="!isAdmin && task.open && !task.taskmaster"
        (click)="takeTask(task.taskuuid)"
      >
        <mat-icon style="color: #69f0ae">military_tech</mat-icon>
      </button>
      <button
        mat-icon-button
        class="task-settings"
        [matMenuTriggerFor]="taskMenu"
        *ngIf="isAdmin || useruuid == task.taskmaster"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #taskMenu yPosition="above">
        <button mat-menu-item (click)="updateTask(task)">
          <mat-icon>edit</mat-icon>
          {{ "page.estate.edit" | translate }}
        </button>
        <button
          *ngIf="isAdmin"
          mat-menu-item
          (click)="deleteTask(task.taskuuid)"
        >
          <mat-icon>delete</mat-icon>
          {{ "page.estate.delete" | translate }}
        </button>
        <button *ngIf="isAdmin" mat-menu-item (click)="transferTask(task)">
          <mat-icon>switch_account</mat-icon>
          {{ "page.estate.transfer_task" | translate }}
        </button>
        <button
          *ngIf="!isAdmin"
          mat-menu-item
          (click)="removeSelf(task.taskuuid)"
        >
        <mat-icon>cancel</mat-icon>
          {{ "page.estate.remove_self" | translate }}
        </button>
      </mat-menu>
      <div class="task-actions">
        <a href="/comments/{{task.taskuuid}}" mat-raised-button color="primary">
          {{ "page.estate.comments" | translate }}
        </a>
        <button
          mat-raised-button
          color="{{ task.completed ? 'accent' : 'warn' }}"
          (click)="toggleDone(task)"
        >
          {{
            (task.completed ? "page.estate.done" : "page.estate.not_done")
              | translate
          }}
          <mat-icon *ngIf="task.completed">done</mat-icon>
          <mat-icon *ngIf="!task.completed">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>
