.estate-options .mat-mdc-icon-button:not(.refresh-icon) {
  position: absolute;
  right: 20px;
  scale: 1.5;
  top: 0;
}
.refresh-icon {
  position: absolute;
  scale: 1.5;
  right: 20px;
}
.task {
  background-color: #444;
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
    position: relative;

  .task-settings {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  .task-info {
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
  }
  .task-info-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "desc  priority"
      "deadline  priority";
    grid-template-columns: 210px auto;
    grid-template-rows: auto 40px;
  }
  .task-info-container.long {
    grid-template-areas:
      "desc  desc"
      "deadline  priority";

    .description {
      height: fit-content;
    }
  }
  .gradient {
    position: absolute;
    width: 210px;
    height: 80px;
    border-radius: 5px;
    background: linear-gradient(transparent, transparent, #202020);
  }
  .description {
    position: relative;
    padding: 0;
    grid-area: desc;
    height: 80px;
    overflow: hidden;
    background-color: #333;
    p {
      padding: 5px;
    }
  }
  .expand-button {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border: none;
    color: #fff;
    right: 0;
    bottom: 0;
  }
  .deadline {
    grid-area: deadline;
  }
  .priority {
    grid-area: priority;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-block-end: 12px;
    p {
      margin: 0;
    }
  }
}
.priority-box {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.priority.none {
    .priority-box {
        border: dotted white;
    }
}

.priority-done-icon {
  color: #69f0ae;
  scale: 2;
  display: flex;
  margin: auto;
}


.priority.long p {
    font-weight: 500;
    color: #111;
}

.priority.long.none {
    background-color:  #333 !important;
    p {
        color: white;
    }
}

.task-actions {
  justify-content: space-between;
  max-width: 250px;
  display: flex;
}
