<div *ngIf="loading"
	class="backdrop">
	<mat-spinner diameter="56"></mat-spinner>
</div>
<form #form='ngForm'
	(submit)="login()">
	<h2>
		{{'page.login.admin' | translate}}
	</h2>
	<mat-form-field class="admin-form-field">
		<mat-label>
			{{'page.login.username' | translate }}
		</mat-label>
		<input #username
			[errorStateMatcher]="esMatcher"
			[formControl]="usernameFormControl"
			[(ngModel)]="usernameValue"
			matInput
			type="text"
			name="username">
		<button *ngIf="username.value"
			(click)="usernameValue = ''"
			type="button"
			matSuffix
			mat-icon-button
			tabindex="-1">
			<mat-icon>clear</mat-icon>
		</button>
		<mat-error *ngIf="usernameFormControl.hasError('pattern') && !usernameFormControl.hasError('required')">
			{{'page.login.errors.alphanumeric_username' | translate}}
		</mat-error>
		<mat-error *ngIf="usernameFormControl.hasError('required')">
			{{'page.login.errors.required_username' | translate}}
		</mat-error>
	</mat-form-field>


	<mat-form-field class="admin-form-field">
		<mat-label>
			{{'page.login.password' | translate}}
		</mat-label>
		<input #password
			[formControl]="passwordFormControl"
			[(ngModel)]="passwordValue"
			matInput
			type="password"
			name="password">
		<button (click)="password.type == 'password' ? password.type = 'text' : password.type = 'password'"
			type="button"
			matSuffix
			mat-icon-button
			tabindex="-1">
			<mat-icon>
				{{password.type == 'password' ? 'visibility' : 'visibility_off'}}
			</mat-icon>
		</button>
		<mat-error *ngIf="passwordFormControl.hasError('required')">
			{{'page.login.errors.required_password' | translate}}
		</mat-error>
	</mat-form-field>


	<button mat-raised-button
		color="primary"
		disabled="{{passwordFormControl.hasError('required') || usernameFormControl.hasError('pattern') || !usernameValue}}">
		{{'page.login.login' | translate}}
	</button>
</form>


<div class="form-footer">
	<p>
		{{'page.login.no_account' | translate}}
	</p>
	<div class="buttons">
		<a href="/register"
			mat-raised-button
			color="accent">
			{{'page.login.register' | translate}}
		</a>
		<a href="/workerlogin"
			mat-raised-button
			color="accent">
			{{'page.login.worker_Login' | translate}}
		</a>
	</div>
</div>
