<app-loading-spinner [loading]="loading"></app-loading-spinner>
<ng-container *ngIf="session$ | async as session">
  <h1>{{ "page.mypages.welcome" | translate }} {{ session.username }}!</h1>
  <div class="buttons">
    <a href="/myestates" mat-raised-button color="primary">
      <mat-icon> apartment </mat-icon>
      {{ "page.mypages.estates" | translate }}</a
    >
    <button mat-raised-button color="accent" (click)="openEstateDialog()">
      <mat-icon> add </mat-icon>
      {{ "page.mypages.add_estate" | translate }}
    </button>
    <button mat-raised-button color="accent" (click)="openAddTaskDialog()">
      <mat-icon> add </mat-icon>
      {{ "page.mypages.add_task" | translate }}
    </button>
    <!-- <button mat-raised-button color="warn" (click)="openDeleteEstateDialog()">
        <mat-icon>delete</mat-icon>
        {{ 'page.mypages.remove_estate' | translate}}
    </button> -->
  </div>
</ng-container>
