<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="/"><img src="../assets/images/Taxami-logo.svg" alt="Taxami Logo"></a>
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <mat-nav-list>
      <a href="/login" mat-list-item><mat-icon mat-list-icon>account_circle</mat-icon>{{'nav.login' | translate }}</a>
    </mat-nav-list>
    <mat-nav-list>
      <a href="/register" mat-list-item><mat-icon mat-list-icon>person_add</mat-icon>{{'nav.register' | translate}}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>