$logo-height: 40%;
mat-toolbar {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  a {
    height: $logo-height;
    img { height: 100%; }
  }
}

mat-drawer {
  width: 60%;
  mat-nav-list {
    mat-icon {
      position: absolute;
    }
    span {
      margin-top: 5px;
      margin-left: 29px;
    }
  }
}

mat-drawer-container {
  height: calc(100% - 3.5em);
}