
$width: 70%;
$accent: #62dfa2;
form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    min-width: $width;
    color: #dddddd;
  }
}
.form-input {
  width: $width;
  mat-form-field {
    width: 100%;
    flex: 9;
  }
}
.done-icon {
  position: absolute;
  margin-top: 15px;
  margin-left: 5px;
}
.form-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  button, a {
    margin: auto;
    width: fit-content;
  }
}