$width: 70%;
$accent: #62dfa2;
form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    min-width: $width;
    color: #dddddd;
  }

  mat-form-field {
    width: $width;
  }
  button {
    width: $width;
  }
}

.not-occupied, .confirmed {
  ::ng-deep{
    .mat-form-field-underline{
      background-color: $accent;
    
    } 
    .mat-form-field-label{
      color: $accent;
    }
  } 
}